* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Dancing Script";
  background: #02010a;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  width: 95%;
}

header {
  width: 100%;
  padding: 10px;
  background-color: #5b7989;
  border-radius: 12px 12px 0px 0px;
  color: #fff;
  font-size: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#nombredelsitio {
  text-shadow: 2px 2px #02010a;
}

header nav {
  width: 40%;
  font-size: 0.8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 5px;

  flex-grow: 1;
}
