* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Dancing Script";
  background: #02010a;
}

.contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

header {
  width: 100%;
  padding: 10px;
  background-color: #5b7989;
  border-radius: 12px 12px 0px 0px;
  color: #fff;
  font-size: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#nombredelsitio {
  text-shadow: 2px 2px #02010a;
}

header nav {
  width: 40%;
  font-size: 0.8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 5px;

  flex-grow: 1;
}

.main {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section img {
  align-content: center;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
}

#imagencentral {
  background: #82c3a6;
  padding: 10px 40px;
}

#imagensecundaria {
  background: #d5c75f;
  border: 1px;
  padding: 10px 40px;

  display: flex;
  flex-flow: row nowrap;
}

.izquierda {
  margin-right: 15px;

  /*Animación*/
  transition: border 1s;
  transition: box-shadow 1s;
  transition: transform 1s;
}

.izquierda:hover {
  box-shadow: 2px 2px #82c3a6;
  border: 2px solid;
  transform: rotate(10deg);
}

.derecha {
  margin-left: 15px;

  /*Animación*/
  transition: transform 2s;
  transition: border 2s;
  transition: transform 2s;
}

.derecha:hover {
  transform: translate(20px, -5px);
  border: 2px solid;
  box-shadow: 2px 2px #82c3a6;
}

img {
  box-shadow: 0px 2px 2px 0px #02010a;
}

footer {
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 20px;

  /*Flex*/
  display: flex;
  flex-flow: row nowrap;
}

footer div {
  margin: 5px 10px;

  display: flex;
  flex-grow: 1;
}

footer ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bolder;
  text-shadow: 0.8px 0.8px #FFF;
}

.linknav {
  text-decoration: none;
  color: #fff;
}

.linknav:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #000;
}

article {
  color: #02010a;
  background: #d5c75f;
  border: 1px;
  padding: 25px 40px;
  list-style: upper-roman;
  text-align: justify;

}

article ol li {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 20px;

}

.tituloterminos {
  font-family: arial;
  margin: 15px auto;
  text-shadow: 1px 1px 1px #FFF;
  text-decoration: underline;
}
