* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Dancing Script";
  background: #02010a;
}

.contenido {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

header {
  width: 100%;
  padding: 10px;
  background-color: #5b7989;
  border-radius: 12px 12px 0px 0px;
  color: #fff;
  font-size: 2em;
  margin-left: auto;

  display: flex;
  align-items: center;
}

#encabezado {
  text-shadow: 2px 2px #02010a;
  display: flex;
  width: 50%;
  flex-flow: wrap column;
  flex-grow: 1;
}

header nav {
  width: 50%;
  font-size: 0.8em;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 5px;

  flex-grow: 1;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fila01, .fila02 {
  background: #d5c75f;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 33,33%;
}

.imagenpaisaje, .imagenretrato {
  padding: 5px 15px;
}

section img {
  align-content: center;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
}

#imagencentral {
  background: #82c3a6;
  padding: 10px 40px;
}

#imagensecundaria {
  background: #d5c75f;
  border: 1px;
  padding: 10px 40px;

  display: flex;
  flex-flow: row nowrap;
}

.izquierda {
  margin-right: 15px;

  /*Animación*/
  transition: border 1s;
  transition: box-shadow 1s;
  transition: transform 1s;
}

.izquierda:hover {
  box-shadow: 2px 2px #82c3a6;
  border: 2px solid;
  transform: rotate(10deg);
}

.derecha {
  margin-left: 15px;

  /*Animación*/
  transition: transform 2s;
  transition: border 2s;
  transition: transform 2s;
}

.derecha:hover {
  transform: translate(20px, -5px);
  border: 2px solid;
  box-shadow: 2px 2px #82c3a6;
}

img {
  box-shadow: 0px 2px 2px 0px #02010a;
}

footer {
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 20px;

  /*Flex*/
  display: flex;
  flex-flow: row nowrap;
}

footer div {
  margin: 5px 10px;

  display: flex;
  flex-grow: 1;
}

footer ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bolder;
  text-shadow: 0.8px 0.8px #FFF;
}

#fbicon {
  list-style-image: url("../images/facebookicon.png");
}

#twicon {
  list-style-image: url("../images/twittericon.png");
}

#igicon {
  list-style-image: url("../images/instagramicon.jpg");
}

.linknav {
  text-decoration: none;
  color: #fff;
}

.linknav:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #000;
}

article {
  color: #02010a;
  background: #d5c75f;
  border: 1px;
  padding: 25px 40px;
  list-style: upper-roman;
  text-align: justify;

}

article ol li {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 20px;

}

.tituloterminos {
  font-family: arial;
  margin: 15px auto;
  text-shadow: 1px 1px 1px #FFF;
  text-decoration: underline;
}

#paisaje01, #retrato01{
  filter: blur(10px);
}
#paisaje02, #paisaje04, #paisaje06, #retrato02, #retrato04,#retrato06 {
  filter: grayscale(1.0);
}

#paisaje03, #retrato03 {
  filter: sepia(0.9);
}

@-webkit-keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

@media screen and (min-width:421px) and (max-width:900px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  #imagencentral, #imagensecundaria, .fila01, .fila02 {
    flex-flow: column wrap;
    width: 100%;
  }

  .fila01, .fila02, #mainpaisajes, #mainretratos {
    margin: 0 auto;
    padding: 0px;
  }

  .izquierda, .derecha {
    margin: auto;
    margin-bottom: 10px;
  }

  .imagenpaisaje, .imagenretrato {
    padding: 20px;
  }

  footer {
    flex-flow: row wrap;
  }

}

@media screen and (max-width:420px) {
  header {
    flex-direction: column;
    text-align: center;

  }
  #encabezado, #menudenavegacion {
    flex-flow: row nowrap;
    margin: auto;
  }

    #imagencentral, #imagensecundaria, .fila01, .fila02 {
      flex-flow: column wrap;
      width: 100%;
    }

    .fila01, .fila02, #mainpaisajes, #mainretratos {
      margin: 0 auto;
      padding: 0px;
    }

    .izquierda, .derecha {
      margin: auto;
      margin-bottom: 10px;
    }

    .imagenpaisaje, .imagenretrato {
      padding: 20px;
    }

    footer {
      flex-direction: column;
    }
}
